@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
:root{
    --primaryColor: #00ee0e;
    --secondaryColor: #178c37
}

* {
    box-sizing: border-box;
    
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}  

*::selection {
    background: rgb(255, 0, 0);
    color: black;
    text-shadow: 1px 1px #fff;
}

body {
   
   /*  background-image: url('./Assets/layered-steps-haikei.svg'); */
    background-color: black;
    font-family: 'Press Start 2P';
   
}


@media (min-width:1080px) {
   
}

