@keyframes rgb {
    0% {
        color: rgb(0, 255, 34);
    }
    50% {
        color: red;

    }
    100%{
        color: blue;

    }
}

.contact-section {
    display: grid;
    place-content: center;
    height: 20vh;

}

.contact-section .contact-div {
    display: grid;
    place-content: center;
}

.contact-section .contact-div .button {
    border: 4px solid ;
    border-style: dotted;
    padding: 20px;
    transition: .5s ease;
    animation: rgb 1s infinite alternate ;


}


.contact-section .contact-div .button:hover {
    transform: scale(1.05);
}

.contact-section .contact-div .button p {
    font-size: 20px;
}

.contact-modal {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 10;
    display: grid;
    place-content: center;
    padding: 0px;
    margin: 0px;
}

.contact-modal .modal {
    border:5px solid rgba(0,255,4,1);
    height: 50vh;
    width: 50vw;
    position: relative;;

}

.contact-modal .modal svg {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.contact-modal .modal form {
    display: grid;
    place-items: center;
    align-content: center;
    width: 100%;
    height:100%;
}

.contact-modal .modal form .text-area {
    border: 3px solid rgb(255, 0, 0);
    padding: 10px 20px;
    resize: none;
    transition: .5s ease;
    text-transform: uppercase;
}

.contact-modal .modal form .text-area:focus {
    outline: none;
    transform: scale(1.005);
}

.contact-modal .modal form .form-button {
    margin-top: 20px;
    padding: 10px;
    animation: rgb 2s infinite;
    border: dotted 4px;
    width: 30%;
}

